<tr id="<%= dom_id user %>">
    <td><%= user.id %></td>
    <td><%= user.name %> <%=user.surname %></td>
    <td><%= user.games_played %></td>
    <td>#<%= user.rank %></td>
    <td><%= link_to "Show", user %></td>
</tr>

