<div id="<%= dom_id user %>">
  <h2><%= user.name %>'s Profile</h2>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= user.surname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= user.birthday %>
  </p>

  <p>
    <strong>Games played:</strong>
    <%= user.games_played %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= user.rank %>
  </p>

  <h3>Matches</h4>

  <div id="matches">
    <table>
      <tr>
        <th><strong>Player 1</strong></th>
        <th><strong>Player 2</strong></th>
        <th><strong>Result</strong></th>
      </tr>
      <% if user.matches.present? %>
        <% user.matches.each do |match| %>
          <%= render partial: "matches/match", :locals => {:match => match} %>
        <% end %>
      <% else%>
        <td colspan="3"><i><center>Empty</center></i></td>
      <% end %>
    </table>
  </div>
</div>
