<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= user.surname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= user.birthday %>
  </p>

  <p>
    <strong>Games played:</strong>
    <%= user.games_played %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= user.rank %>
  </p>

</div>
