<p style="color: green"><%= notice %></p>

<h1>Users Ranks</h1>

<div id="users">
  <table>
    <tr>
      <th><strong>ID</strong></th>
      <th><strong>Name</strong></th>
      <th><strong>Games Played</strong></th>
      <th><strong>Rank</strong></th>
      <th><strong>Profile</strong></th>
    </tr>
  <% if @users.present? %>
    <% @users.each_with_index do |user,index| %>
      <%= render partial: "user_index", :locals => {:user => user, :index => index} %>
    <% end %>
  <% else%>
    <tr>
      <td colspan="5"><i><center>Empty</center></i></td>
    </tr>
  <% end %>
  </table>
</div>

<%= link_to "New user", new_user_path %>
<%= link_to "New match", new_match_path %>
<%= link_to "Show matches", matches_path %>
