<div id="<%= dom_id match %>">
  <tr>
    <td><%= match.player_one.name %> <%=match.player_one.surname %></td>
    <td><%= match.player_two.name %> <%=match.player_two.surname %></td>
    <td><%= match.result %> </td>
  </tr>
</div>
