<h1>New Match</h1>

<%= form_with(model: @match) do |form| %>
  <% if @match.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being recorded:</h2>

      <ul>
        <% @match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :player_one, style: "display: block" %>
    <%= form.collection_select :player_one, @users, :id, :name %>
  </div>

  <div>
    <%= form.label :player_two, style: "display: block" %>
    <%= form.collection_select :player_two, @users, :id, :name %>
  </div>
    <div>
    <%= form.label :result, style: "display: block" %>
    <%= form.select :result, ["Player 1 Wins", "Player 2 Wins", "It's a Draw"] %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

<%= link_to "Back to ranks", users_path %>
<%= link_to "Back to matches", matches_path %>
